## FinalProject    

    Shivani           sap29     
    Anthika           ay27  
    Alaa                as422   
    Soham            sss43

#### INTRODUCTION

Human Protein Atlas - Single Cell Classification
The basic idea is to Find individual human cell differences in microscope images. And use cell segmentor to get a data set where each image shows a single cell.

##### importing ImageDataGenerator class from keras library

In [1]:
from keras.preprocessing.image import ImageDataGenerator  #importing ImageDataGenerator class from keras library

train_data=ImageDataGenerator(rescale=1./255,
                              rotation_range=15,
                              brightness_range=(0.5,0.8),
                              horizontal_flip=True)  #Creating an object of ImageDataGenerator class with rescaling

train_set=train_data.flow_from_directory('C:\\Users\\patel\\Downloads\\hpa-single-cell-image-classification\\Train_new',  #Directory where training images are present
                                         target_size=(128,128),                                        #size after resizing
                                         color_mode='rgb',                                           #color mode of the image
                                         class_mode='categorical',                                        #number of classes is 2 so binary
                                         batch_size=30,
                                         interpolation='nearest')

test_data=ImageDataGenerator(rescale=1./255)

test_set=test_data.flow_from_directory('C:\\Users\\patel\\Downloads\\hpa-single-cell-image-classification\\Test_new',
                                       target_size=(128,128),
                                       color_mode='rgb',
                                       class_mode='categorical',
                                       batch_size=20,
                                       shuffle=True,
                                       interpolation='nearest')

Found 204 images belonging to 4 classes.
Found 204 images belonging to 4 classes.

###### Advance Algorthim

In [2]:
from keras.models import Sequential
from keras.layers import Conv2D #importing sequential class from keras library
from keras.layers import MaxPooling2D #importing MaxPooling2D from keras
from keras.layers import Flatten #importing flatten#from keras.layers import Dropout
from keras.layers import Dense
from keras.optimizers import Adam

##### Creating an object of Sequential class

In [3]:
model=Sequential()            #Creating an object of Sequential class
model.add(Conv2D(16,(3,3),activation='tanh',input_shape=(128,128,3)))
model.add(MaxPooling2D(pool_size=(2,2)))
#model.add(Dropout(0.5))
model.add(Conv2D(16,(3,3),activation='tanh'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Conv2D(16,(3,3),activation='tanh'))
model.add(MaxPooling2D(pool_size=(2,2)))
#model.add(Dropout(0.5))
model.add(Conv2D(8,(3,3),activation='tanh'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Conv2D(8,(3,3),activation='tanh' ))
model.add(MaxPooling2D(pool_size=(2,2)))
#model.add(Dropout(0.5))
model.add(Flatten())
model.add(Dense(8,activation='tanh'))
model.add(Dense(4,activation='tanh'))
model.add(Dense(1,activation='sigmoid'))
summary=model.summary()
from contextlib import redirect_stdout

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 126, 126, 16)      448
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 63, 63, 16)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 61, 61, 16)        2320
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 30, 30, 16)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 28, 28, 16)        2320
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 14, 14, 16)        0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 12, 12, 8)         1160
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 6, 6, 8)           0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 4, 4, 8)           584
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 2, 2, 8)           0
_________________________________________________________________
flatten (Flatten)            (None, 32)                0
_________________________________________________________________
dense (Dense)                (None, 8)                 264
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 5
=================================================================
Total params: 7,137
Trainable params: 7,137
Non-trainable params: 0
_________________________________________________________________

In [4]:
import matplotlib.pyplot as plt
model.compile(optimizer=Adam(),loss='binary_crossentropy',metrics=['accuracy'])
x=model.fit_generator(train_set,steps_per_epoch=5,epochs=7,validation_data=test_set,validation_steps=30,verbose=1)
from keras.utils import plot_model

c:\users\patel\appdata\local\programs\python\python38\lib\site-packages\tensorflow\python\keras\engine\training.py:1844: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  warnings.warn('`Model.fit_generator` is deprecated and '

Epoch 1/7
5/5 [==============================] - ETA: 0s - loss: 0.6437 - accuracy: 0.7346WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 30 batches). You may need to use the repeat() function when building your dataset.
5/5 [==============================] - 58s 14s/step - loss: 0.6404 - accuracy: 0.7360 - val_loss: 0.5685 - val_accuracy: 0.7500
Epoch 2/7
5/5 [==============================] - 15s 3s/step - loss: 0.5689 - accuracy: 0.7500
Epoch 3/7
5/5 [==============================] - 16s 3s/step - loss: 0.5658 - accuracy: 0.7500
Epoch 4/7
5/5 [==============================] - 15s 3s/step - loss: 0.5662 - accuracy: 0.7500
Epoch 5/7
5/5 [==============================] - 16s 3s/step - loss: 0.5632 - accuracy: 0.7500
Epoch 6/7
5/5 [==============================] - 16s 3s/step - loss: 0.5639 - accuracy: 0.7500
Epoch 7/7
5/5 [==============================] - 16s 3s/step - loss: 0.5629 - accuracy: 0.7500

###### Advance Model Evaluation

In [5]:
print(x.history)

{'loss': [0.6237342953681946, 0.5665703415870667, 0.5665424466133118, 0.565603494644165, 0.5633292198181152, 0.5635590553283691, 0.5629294514656067], 'accuracy': [0.7430555820465088, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75], 'val_loss': [0.5684625506401062], 'val_accuracy': [0.75]}

In [8]:
import numpy as np
import pandas as pd

df = pd.read_csv(r'C:\Users\patel\Downloads\hpa-single-cell-image-classification\sample_submission.csv')
df.head()

,ID,ImageWidth,ImageHeight,PredictionString
0,0040581b-f1f2-4fbe-b043-b6bfea5404bb,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
1,004a270d-34a2-4d60-bbe4-365fca868193,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
2,00537262-883c-4b37-a3a1-a4931b6faea5,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
3,00c9a1c9-2f06-476f-8b0d-6d01032874a2,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
4,0173029a-161d-40ef-af28-2342915b22fb,3072,3072,0 1 eNoLCAgIsAQABJ4Beg==

In [9]:
df.fillna("None", inplace = True) 
df.head()

,ID,ImageWidth,ImageHeight,PredictionString
0,0040581b-f1f2-4fbe-b043-b6bfea5404bb,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
1,004a270d-34a2-4d60-bbe4-365fca868193,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
2,00537262-883c-4b37-a3a1-a4931b6faea5,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
3,00c9a1c9-2f06-476f-8b0d-6d01032874a2,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
4,0173029a-161d-40ef-af28-2342915b22fb,3072,3072,0 1 eNoLCAgIsAQABJ4Beg==

##### Features Engineering

In [11]:
#Data Cleaning
print(df.fillna(method='ffill'))
df.fillna(method='ffill')

                                       ID  ImageWidth  ImageHeight  \
0    0040581b-f1f2-4fbe-b043-b6bfea5404bb        2048         2048
1    004a270d-34a2-4d60-bbe4-365fca868193        2048         2048
2    00537262-883c-4b37-a3a1-a4931b6faea5        2048         2048
3    00c9a1c9-2f06-476f-8b0d-6d01032874a2        2048         2048
4    0173029a-161d-40ef-af28-2342915b22fb        3072         3072
..                                    ...         ...          ...
554  fea47298-266a-4cf4-93bd-55d1bcc2fc7d        1728         1728
555  feb955db-6c07-4717-a98b-92236c8e01d8        2048         2048
556  fefb9bb7-934a-40d1-8d2f-210265857388        2048         2048
557  ff069fa2-d948-408e-91b3-034cfea428d1        3072         3072
558  ff23eea9-4bbe-42af-a8da-9ae16321fc6d        2048         2048

             PredictionString
0    0 1 eNoLCAgIMAEABJkBdQ==
1    0 1 eNoLCAgIMAEABJkBdQ==
2    0 1 eNoLCAgIMAEABJkBdQ==
3    0 1 eNoLCAgIMAEABJkBdQ==
4    0 1 eNoLCAgIsAQABJ4Beg==
..                        ...
554  0 1 eNoLCAjJNgIABNkBkg==
555  0 1 eNoLCAgIMAEABJkBdQ==
556  0 1 eNoLCAgIMAEABJkBdQ==
557  0 1 eNoLCAgIsAQABJ4Beg==
558  0 1 eNoLCAgIMAEABJkBdQ==

[559 rows x 4 columns]

,ID,ImageWidth,ImageHeight,PredictionString
0,0040581b-f1f2-4fbe-b043-b6bfea5404bb,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
1,004a270d-34a2-4d60-bbe4-365fca868193,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
2,00537262-883c-4b37-a3a1-a4931b6faea5,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
3,00c9a1c9-2f06-476f-8b0d-6d01032874a2,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
4,0173029a-161d-40ef-af28-2342915b22fb,3072,3072,0 1 eNoLCAgIsAQABJ4Beg==
...,...,...,...,...
554,fea47298-266a-4cf4-93bd-55d1bcc2fc7d,1728,1728,0 1 eNoLCAjJNgIABNkBkg==
555,feb955db-6c07-4717-a98b-92236c8e01d8,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
556,fefb9bb7-934a-40d1-8d2f-210265857388,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==
557,ff069fa2-d948-408e-91b3-034cfea428d1,3072,3072,0 1 eNoLCAgIsAQABJ4Beg==
558,ff23eea9-4bbe-42af-a8da-9ae16321fc6d,2048,2048,0 1 eNoLCAgIMAEABJkBdQ==

In [12]:
X= df.iloc[:,:-1]
y= df.iloc[:,3]

##### Encoder to Encode convert categorical data to numerical values

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
LabelEncoder_X = LabelEncoder()
X = X.apply(LabelEncoder().fit_transform)
X

      ID  ImageWidth  ImageHeight
0      0           1            1
1      1           1            1
2      2           1            1
3      3           1            1
4      4           2            2
..   ...         ...          ...
554  554           0            0
555  555           1            1
556  556           1            1
557  557           2            2
558  558           1            1

[559 rows x 3 columns]

###### Split the data to training and testing

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

### Supervised Learning
1- KNN
  
2- Naive Gussian

In [16]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7)
#Fit the model
knn.fit(X_train,y_train)
#Get accuracy. Note: In case of classification algorithms score method represents accuracy.
print("Accuracy", knn.score(X_test,y_test))

Accuracy 0.8642857142857143

In [17]:
#let us get the predictions using the classifier we had fit above
y_pred = knn.predict(X_test)
y_pred

array(['0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ==',
       '0 1 eNoLCAgIMAEABJkBdQ==', '0 1 eNoLCAgIMAEABJkBdQ=='],
      dtype=object)

In [ ]:
#Naive Bayes
from sklearn.naive_bayes import GaussianNB 
model = GaussianNB()                       
model.fit(X_train, y_train)               
y_model = model.predict(X_test)

#### Model Evaluation

In [18]:
 from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_model)

1.0